.footer {
    margin-top: 10vh;
    background-color: var(--primary-color);
    padding: 20px 0;
    color: var(--text-white);
    text-align: center;
    position: relative;
    width: 100vw;
    bottom: 0;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .social-links {
    margin-bottom: 10px;
  }
  
  .footer-text {
    font-size: 14px;
    font-weight: bold;
  }
  
  .social-icon {
    color: var(--text-white);
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s;
    height: 40px;
  }
  
  .social-icon:hover {
    color: var(--text-black); 
  }