.footer {
    margin-top: 10vh;
    background-color: #4070f4;
    padding: 20px 0;
    color: white;
    text-align: center;
    position: relative;
    width: 99vw;
    bottom: 0;
  }
  
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .social-links {
    margin-bottom: 10px;
  }
  
  .footer-text {
    font-size: 14px;
    font-weight: bold;
  }
  
  .social-icon {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s;
    height: 40px;
  }
  
  .social-icon:hover {
    color: black; 
  }

  .wave {
    position: absolute;
    top: -85px;
    left: 0;
    width: 100vw;
    height: 70px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }