.intro {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: transparent;
  flex-direction: row-reverse;
  /* border: 2px solid red; */
}

.div-rotating-text {
  background-color: #4070f4;
  overflow: hidden;
  width: max-content;
  padding: 8px 15px;
  border-radius: 15px;
}
.skill-text {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-top: 10px;
  text-align: center;
}

.intro-text {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.intro-text h2 {
  font-size: 48px;
  font-weight: bold;
  color: #0e2431;
}

.intro-text h3 {
  font-size: 24px;
  font-weight: bold;
  color: #4070f4;
}

.intro-text p {
  font-size: 1.5rem;
  font-weight: bold;
}

.intro-image {
  text-align: right;
}

.intro-image img {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .intro {
    flex-direction: column;
    padding: 20px;
  }
  .intro-image img {
    width: 25vh;
    height: 25vh;
  }
  .intro-text h2 {
    font-size: 1.5rem;
  }
  .intro-text h3 {
    font-size: 1.2rem;
  }
  .intro-text p {
    font-size: 1.1rem;
  }

  .intro-text{
    width: 60vw;
  }

  .div-rotating-text{
    width: 70vw;
    text-align: center;
    align-self: center;
  }
}

.social-icon {
  color: black;
  font-size: 24px;
  margin: 0 10px;
  transition: color 0.3s;
  height: 40px;
}

.social-icon:hover {
  color: #0e2431;
}
