/* src/Navbar.css */
.navbar {
  padding: 1vw 2vw 1vw 2vw;
  position: fixed;
  top: 0;
  width: 96vw;
  z-index: 1000;
  transition: background-color 0.3s ease;
  height: 10vh;
}

.navbar.scrolled {
  background-color: var(--primary-color);
}
.navbar.scrolled .navbar-title {
  color: var(--text-white);
}
.navbar.scrolled .nav-links a {
  color: var(--text-white);
}

.menu-icon {
  visibility: hidden;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 5vw 0 5vw;
}

.navbar-title {
  font-size: 1.8rem;
  margin: 0;
  color: var(--primary-color);
}

.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.hamburger,
.ham-child {
  width: 100%;
  height: 4px;
  background-color: var(--text-black);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.ham-child {
  position: absolute;
  opacity: 0;
}

.menu-icon.open .hamburger {
  transform: rotate(45deg);
}

.menu-icon.open .ham-child {
  transform: rotate(-45deg);
  opacity: 1;
}

.menu-icon.open .hamburger::before {
  transform: rotate(90deg) translateX(-10px);
}

.menu-icon.open .hamburger::after {
  transform: rotate(90deg) translateX(10px);
}

.menu-icon.open .ham-child::before {
  transform: rotate(90deg) translateX(-10px);
}

.menu-icon.open .ham-child::after {
  transform: rotate(90deg) translateX(10px);
}

.hamburger,
.ham-child,
.hamburger::before,
.hamburger::after {
  content: "";
  width: 25px;
  height: 3px;
  margin: 4px 0;
  background-color: var(--primary-color);
  transition: all 0.3s ease;
}

.nav-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  margin-left: -15vw;
  padding: 0;
  justify-content: center;
  width: max-content;
  align-self: center;
}

.nav-links li {
  margin: 0 1rem;
  position: relative; /* Ensure the pseudo-element is positioned relative to the parent */
  padding: 5px;
}

.nav-links li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: var(--primary-color);
  transition: width 0.3s ease; /* Animation for border completion */
}

.nav-links li:hover::after {
  /* border-bottom: 3px solid #4070f4; */
  width: 100%; /* Expand the border on hover */
}

.nav-links a {
  color: var(--text-black);
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
}

.nav-links.open a {
  color: var(--primary-color);
}

.nav-links.open {
  display: block;
  margin-top: 5px;
  background-color: var(--bg-primary);
}

.nav-but {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 10px 25px;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 30px;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--text-white);
  box-shadow: var(--shadow-medium) 0px 5px 15px 0px;
}

@media (min-width: 2000px) {
  .nav-links {
    margin-left: -28vw;
  }
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
  }

  .navbar-title {
    margin-bottom: 1rem;
  }

  .menu-icon {
    display: flex;
    visibility: visible;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 1rem 0;
    margin-left: 0;
    text-align: center;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  }

  .nav-but {
    display: none;
  }

  .nav-links li {
    margin: 1rem 0;
  }

  .nav-links.open {
    display: flex;
  }
  .navbar.scrolled .nav-links.open {
    background-color: var(--primary-color);
  }
}
