.project-card {
    background-color: var(--bg-primary);
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--shadow-strong);
    cursor: pointer;
    transition: transform 0.3s ease;
    animation: ScaleIn linear 0.5s;
    animation-timeline: view();
    animation-range: entry 0 cover 35%;
  }

  @keyframes ScaleIn {
    from {
      opacity: 0;
      scale: 0.5;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }

  .project-heading{
    display: flex;
    gap: 5%;
  }
  .project-card:hover {
    transform: translateY(-5px);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;  }
  
  .project-icon {
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .project-links{
    width: max-content;
    justify-self: flex-end;
  }
  
  .project-button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }

  .project-link {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 0.9rem;
  }

  .project-details p {
    text-align: justify;
    font-size: 0.9rem;
  }

  @media screen and (max-width: 600px) {
    .project-description {
      font-size: 0.8rem;
    }
    
  }

  /* Platform Badge */
.platform-badge {
  font-size: 1.2rem;
  margin-left: auto;
  display: flex;
  align-items: center;
}