.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  width: 80vw;
  background-color: var(--bg-secondary);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  animation: fadeIn linear 0.5s;
  animation-timeline: view();
  animation-range: entry 0 cover 25%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    translate: 0.5;
  }
  to {
    opacity: 1;
    translate: 1;
  }
}

.projects-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: var(--text-primary);
  font-weight: 700;
}

@media only screen and (max-width: 600px) {
  .projects-section {
    width: 90vw;
    padding: 15px;
  }

  .projects-content h2 {
    font-size: 1.5rem;
  }
}
