.project-details-container {
  display: flex;
  flex-direction: column;
  width: 70vw;
  margin-top: 5vh;
  height: max-content;
  justify-content: center;
  background-color: var(--bg-secondary);
  padding: 10vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.project-details-breadcrumbs {
  margin-bottom: 5vh;
}

.project-details-breadcrumbs a {
  text-decoration: none;
  color: var(--accent-blue);
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.project-details-breadcrumbs a:hover {
  font-weight: bold;
}

.project-details-breadcrumbs a span {
  color: var(--text-black);
}

.project-details-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.project-ico {
  height: 35vh;
  width: 35vh;
  align-self: center;
}
.tech-item {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 10px 0;
}

.tech-span {
  padding: 5px 15px 5px 15px;
  border-radius: 20px;
  color: var(--accent-blue);
  background-color: var(--bg-primary);
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.project-links {
  display: flex;
  flex-direction: column;
}

.project-ico {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.project-description {
  margin: 20px 0;
}

.project-links a {
  margin: 0 10px;
  text-decoration: none;
  color: var(--accent-blue);
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 5px;
}

.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.snapshot-image {
  align-self: center;
  max-height: 50vh;
  max-width: 100%;
  height: auto;
  display: block;
}

.tech-stack {
  font-weight: bold;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: var(--accent-blue);
  font-weight: bold;
  font-size: 18px;
  transition: 0.4s ease;
  user-select: none;
  border: none;
  background-color: var(--bg-primary);
  box-shadow: var(--shadow-intense) 0px 5px 15px 0px;
}

.prev {
  left: 10px;
  border-radius: 30px 0 0 30px;
}

.next {
  right: 10px;
  border-radius: 0 30px 30px 0;
}

.prev:hover,
.next:hover {
  background-color: var(--accent-blue);
  color: var(--text-white);
}

@media only screen and (max-width: 600px) {
  .project-details-container {
    width: 70vw;
    padding: 3vh;
  }

  .project-details-heading {
    flex-direction: column;
    align-items: center;
  }

  .project-description p{
    font-size: 0.8rem;
    text-align: justify ;
  }
  .tech-item {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }

  .project-ico {
    width: 80px;
    height: 80px;
  }

  .snapshot-image {
    max-height: 40vh;
    min-height: 10vh;
  }

  .project-links a {
    font-size: 0.9rem;
  }

  .prev,
  .next {
    padding: 12px;
    font-size: 16px;
  }
  
}