  
  .project-card {
    width: 40%;
    background-color: var(--bg-secondary);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--shadow-strong);
  }

  .proFlex {
    margin-top: 4vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .project-icon {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .project-name {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  
  .project-description {
    color: var(--text-secondary);
  }
  
  .project-links {
    margin-top: 10px;
  }
  
  .project-link {
    margin-right: 10px;
    color: var(--accent-blue);
    text-decoration: none;
  }
  
  .project-link:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;  }
  
    @media screen and (max-width: 600px) {
      .project-card {
        width: 90%;
      }
    }