.project-card {
    background-color: #f0f8ff;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
  }

  .project-heading{
    display: flex;
    gap: 5%;
  }
  .project-card:hover {
    transform: translateY(-5px);
  }
  
  .project-icon {
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .project-links{
    width: max-content;
    justify-self: flex-end;
  }
  
  .project-link {
    color: #4070f4;
    text-decoration: none;
    font-size: 0.9rem;
  }

  .project-details p {
    text-align: justify;
    font-size: 0.9rem;
  }